workflows/exports/daily-call-list.json
{
  "name": "Daily Call List",
  "id": "daily-call-list",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://sara-backend:8000/api/v1/leads/followups-due",
        "method": "GET",
        "options": {}
      },
      "id": "fetch-followups",
      "name": "Fetch Follow-ups Due",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\n\nif (response.success && response.data) {\n  const followups = response.data.leads;\n  \n  // Sort by priority score descending, then by days overdue descending\n  followups.sort((a, b) => {\n    if (b.priority_score !== a.priority_score) {\n      return b.priority_score - a.priority_score;\n    }\n    return b.days_overdue - a.days_overdue;\n  });\n  \n  return [{\n    json: {\n      success: true,\n      total_leads: response.data.total_leads,\n      overdue_count: response.data.overdue_count,\n      due_today_count: response.data.due_today_count,\n      due_this_week_count: response.data.due_this_week_count,\n      call_list: followups,\n      message: `Generated call list with ${followups.length} leads`\n    }\n  }];\n} else {\n  return [{\n    json: {\n      success: false,\n      error: response.message || 'Failed to fetch follow-ups'\n    }\n  }];\n}"
      },
      "id": "process-call-list",
      "name": "Process Call List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\n\nif (!data.success) {\n  return [{ json: { error: data.error } }];\n}\n\nconst callList = data.call_list;\n\n// Generate readable summary\nlet summary = `DAILY CALL LIST\\n`;\nsummary += `================\\n`;\nsummary += `Total Leads: ${data.total_leads}\\n`;\nsummary += `Overdue: ${data.overdue_count}\\n`;\nsummary += `Due Today: ${data.due_today_count}\\n`;\nsummary += `Due This Week: ${data.due_this_week_count}\\n\\n`;\n\nsummary += `PRIORITY CALL LIST\\n`;\nsummary += `==================\\n\\n`;\n\ncallList.forEach((lead, index) => {\n  const priority = lead.priority_label.toUpperCase();\n  const overdue = lead.days_overdue > 0 ? ` (${lead.days_overdue}d overdue)` : '';\n  \n  summary += `${index + 1}. [${priority}]${overdue} ${lead.contact_name}\\n`;\n  summary += `   Company: ${lead.company_name}\\n`;\n  summary += `   Score: ${lead.priority_score}\\n`;\n  summary += `   Status: ${lead.status}\\n`;\n  summary += `   Follow-up: ${lead.next_followup_at}\\n`;\n  summary += `   Last Contact: ${lead.last_contacted_at || 'Never'}\\n\\n`;\n});\n\nreturn [{\n  json: {\n    summary: summary,\n    call_list: callList,\n    stats: {\n      total: data.total_leads,\n      overdue: data.overdue_count,\n      due_today: data.due_today_count,\n      due_this_week: data.due_this_week_count\n    }\n  }\n}];"
      },
      "id": "generate-summary",
      "name": "Generate Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Fetch Follow-ups Due",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Follow-ups Due": {
      "main": [
        [
          {
            "node": "Process Call List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Call List": {
      "main": [
        [
          {
            "node": "Generate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-07-03T12:00:00.000Z",
  "versionId": "1"
}
