workflows/exports/lead-import-google-sheets.json
{
  "name": "Lead Import - Google Sheets (Backend API)",
  "id": "lead-import-google-sheets-backend",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Start Import",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "sheetId": {
          "__rl": true,
          "value": "",
          "mode": "url",
          "name": "Google Sheets"
        },
        "range": "A:Z"
      },
      "id": "google-sheets-reader",
      "name": "Read Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [460, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Column mapping configuration\n// Note: Run Google Workspace Initialization workflow first to create the spreadsheet\n// Then configure the sheetId in the \"Read Google Sheet\" node\nconst mapping = {\n  company_name: \"Company Name\",\n  company_website: \"Company Website\",\n  first_name: \"First Name\",\n  last_name: \"Last Name\",\n  email: \"Email\",\n  phone: \"Phone\",\n  mobile: \"Mobile\",\n  title: \"Title\",\n  source: \"Source\",\n  estimated_value: \"Estimated Value\",\n  last_modified: \"Last Modified\",\n  status: \"Status\",\n  priority_score: \"Priority Score\",\n  next_followup_at: \"Next Follow-up\",\n  days_overdue: \"Days Overdue\"\n};\n\n// Apply mapping to each row\nconst mappedRows = [];\nfor (const item of $input.all()) {\n  const row = item.json;\n  const mapped = {};\n  \n  for (const [key, sheetColumn] of Object.entries(mapping)) {\n    mapped[key] = row[sheetColumn] || null;\n  }\n  \n  // Set default source if not provided\n  if (!mapped.source) {\n    mapped.source = \"google_sheets\";\n  }\n  \n  mappedRows.push(mapped);\n}\n\nreturn mappedRows;"
      },
      "id": "column-mapper",
      "name": "Map Columns",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Prepare batch import request\nconst rows = $input.all();\nconst leads = rows.map(row => row.json);\n\nreturn [{\n  json: {\n    leads: leads,\n    source: \"google_sheets\"\n  }\n}];"
      },
      "id": "prepare-batch",
      "name": "Prepare Batch Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "http://sara-backend:8000/api/v1/leads/batch-import",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "leads",
              "value": "={{ $json.leads }}"
            },
            {
              "name": "source",
              "value": "={{ $json.source }}"
            }
          ]
        },
        "options": {}
      },
      "id": "call-backend-api",
      "name": "Call Backend API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\n\nif (response.success && response.data) {\n  return [{\n    json: {\n      success: true,\n      imported: response.data.imported,\n      updated: response.data.updated,\n      failed: response.data.failed,\n      errors: response.data.errors || [],\n      message: response.message\n    }\n  }];\n} else {\n  return [{\n    json: {\n      success: false,\n      imported: 0,\n      updated: 0,\n      failed: 0,\n      errors: response.errors || [response.message],\n      message: response.message\n    }\n  }];\n}"
      },
      "id": "process-response",
      "name": "Process Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Start Import": {
      "main": [
        [
          {
            "node": "Read Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Google Sheet": {
      "main": [
        [
          {
            "node": "Map Columns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Columns": {
      "main": [
        [
          {
            "node": "Prepare Batch Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Batch Request": {
      "main": [
        [
          {
            "node": "Call Backend API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Backend API": {
      "main": [
        [
          {
            "node": "Process Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-07-03T12:00:00.000Z",
  "versionId": "2"
}
